---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <div class="row post">
      <div class="col-md-2">
        <div class="post-date">
          <span class="day">{{ post.date | date: "%-d" }}</span>
          <span class="month-year">{{ post.date | date: "%b %Y" }}</span>
        </div>
      </div>

      <div class="col-md-10">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        {% if post.author %}
        <div class="meta">
          <img src="/img/team/{{ post.author|slugify }}.jpg">
          <span>{{ post.author }}</span>
        </div>
        {% endif %}

        {% if post.cover_image %}
        <div class="cover">
          <img src="{{ post.cover_image }}">
        </div>
        {% endif %}

        {{ post.excerpt }}
      </div>
    </div>
  {% endfor %}
</div>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
