---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <div class="row post">
      <div class="col-md-2">
        <div class="post-date">
          <span class="day">{{ post.date | date: "%-d" }}</span>
          <span class="month-year">{{ post.date | date: "%b %Y" }}</span>
        </div>
      </div>

      <div class="col-md-8">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        {% if post.author %}
        <div class="meta">
          <img src="/img/team/{{ post.author|slugify }}.jpg">
          <span>{{ post.author }}</span>
        </div>
        {% endif %}

        {% if post.cover_image %}
        <div class="cover">
          <img src="{{ post.cover_image }}">
        </div>
        {% endif %}

        {{ post.content }}
      </div>
    </div>
  {% endfor %}
</div>

<div class="post-nav clearfix">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="prev">&laquo; Newer Posts</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Older Posts &raquo;</a>
  {% endif %}
</div>

<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
