body {
    p {
        img {
            width: 100%;
        }
    }
    div.posts {
        margin-top: 40px;
        div.post {
            border-bottom: 1px solid #ddd;
            padding-bottom: 20px;
            margin-bottom: 20px;
            .post-date {
                text-align: center;
                border-width: 0px 4px 0px 0px;
                border-color: $synereo-blue;
                border-style: solid;
                padding-bottom: 5px;
                .day {
                    display: block;
                    font-size: 3.4em;
                    color: $synereo-blue;
                    font-weight: bold;
                }
                .month-year {

                }
            }
            a.post-link {
                color: #013243;
            }
            div.meta {
                color: #989898;
                img {
                    height: 30px;
                    border-radius: 15px;
                    margin-right: 15px;
                }
            }
            div.cover {
                margin-top: 40px;
                img {
                    width: 100%;
                }
            }
            div.content {
                margin-top: 30px;
            }
        }
    }

    ul.post-share-buttons {
        list-style: none;
        margin-top: 30px;
        padding-left: 0px;
        li {
            display: inline;
        }
    }

    .post-nav {
        margin-bottom: 30px;
        a.prev {
            float: left;
        }
        a.next {
            float: right;
        }
    }

}
